* {
    font-family: Arial;
}

.center {
    text-align: center
}

p {
    max-width: 800px;
    margin: 0 auto;
}

#header {
    padding: 10px;

    padding-bottom: 25px;

    font-size: 20px;
}

.right {
    float: right;
}

.links {
    margin-right: 25px;

}

body {
    background-color: #77ccf7;
}

#image-header {
    background-image: url("../images/background.jpeg");

    height: 500px;

    box-shadow: 0 0 30px 40px #77ccf7 inset;
}

#header-text {
    text-align: center;

    font-size: 75px;

    color: white;

    /* Vertically align https://stackoverflow.com/a/20563075/1985387 */
    display:flex;
    height: 100%; 
    align-items: center;
    justify-content: center;
}