* {
    font-family: Arial;
}

.center {
    text-align: center;
}

p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

#header {
    padding: 20px;

    padding-bottom: 25px;

    font-size: 20px;

    background-color: lightgray;

    color: #454545;

    vertical-align: middle;
    
}
.right {
    float: right;
    line-height: 60px;
    vertical-align: middle;
}

.links {
    position: relative;

    margin-right: 25px;
    cursor: pointer;

    color: black;
}

.links:before {
    /* Add underline animation */
    content: "";
    position: absolute;

    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;

    top: 75%;

    background-color: #000;

    visibility: hidden;

    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.links:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

body {
    /* Add underline animation */
    background-color: white;
    margin:0;
}

#image-header {
    background-image: url("../images/background.jpeg");

    height: 500px;

    box-shadow: 0px 0 30px 40px #77ccf7 inset;
}

.header-text-container {
    text-align: center;
}

.header-text {
    position: absolute;

    /* For proper centering (parent ignores this divs size) */
    display: inline-block;
    transform: translate(-50%);

    padding: 5px 30px;

    font-size: 100px;

    color: #333;

    background-color: rgba(255, 255, 255, .5);
}

.smaller-header {
    font-size: 60pt;
}

.large-description {
    font-size: 24pt;
}

.description {
    text-align: center;
}

.main-button-container {
    text-align: center;
    display: block;
}

.main-button {
    text-decoration: none;
    background-color: gray;
    padding: 10px;
    color: black;
    border-radius: 5px;

    font-size: 20px;
}

/* FAQ page css*/

#faq-link{
    color: #808080;
    text-decoration: underline;
}
#faq-subtitle{
    color: #808080;
    font-size: 30px;
    float: left;
    padding-left: 20px;
}

.accordion{
    background-color: rgba(122, 122, 122, 0.384);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    margin-left: 20px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 17px;
}

.active, .accordion:hover{
    background-color: gray;
    color: white;
}
.accordion:after{
    content: "+"; /*plus sign*/
    font-size: 17px;
    color: black;
    float: right;
    margin-left: 5px;
}

.active:after{
    content: "-"; /*minus sign*/
    color: white;
}
.panel{
    padding: 0 18px;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    display: block;
}
.panel.show{
    opacity: 1;
    max-height: 100%;
}

.panel p{
    max-width: 100%;
    font-size: 17px;
    margin: 0 auto;
}

#faq{
    float: left;
    width: 50%;
    margin: 20px auto;
    /*display: table;*/
    text-align: left;
}

#general-header{
    text-align: left;
    float: left;
    width: 50%;
    font-size: 35px;
    color: #808080;
    padding-left: 20px;
}


#faq_info{
    justify-content: left;
    text-align: left;
    float: left;
    padding-left: 20px;
}

#email_form{
    padding-right: 20px;
    float: right;
}

form{
    text-align: left;
    float: right;
    width: 100%;
    font-size: 25px;
    color: #808080;
}

#contact-header{
    padding-left: 0px;
    font-size: 35px;
    margin-left: 15px;
}

#contact-info{
    float: left;
    font-size: 25px;
    text-align: left;
    margin-left: 10px;   
    margin-right: 10px;
    display: block;
}

#contact-info b{
    font-size: 25px;
}
#contact-info p{
    margin-top: 5px;
    font-weight: normal;
    font-size: 20px;
    max-width: 100%;
}

label{
    font-size: 25px;
    margin-left: 25%;
    padding-left: 10px;
}

input, textarea{
    font-size: 17px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-left: 25%;
}

input[type=submit]{
    height: auto;
    display: block;
    background-color: #cccccc;
    border: groove;
    padding: 16px 32px;
    overflow: hidden;
    text-decoration-style: double;
    margin-bottom: 20px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #b0b0b0;
}

/* Product page */

.product-image {
    background-image: url("../images/product-1.jpg");
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    height: 550px;
}

.product-preview-button {
    position: absolute;
    bottom: 50px;

    background-repeat: no-repeat;
	background-size: cover;
    background-position: center;

    border: 2px solid white;

    cursor: pointer;

    width: 150px;
    height: 150px;

    transition: 100ms;
}

.product-preview-button:hover {
    transform: scale(1.1);
}

.product-preview-button.clicked {
    border: 3px solid black;
}

#product-1 {
    background-image: url("../images/product-1.jpg");

    right: 420px;
}

#product-2 {
    background-image: url("../images/product-2.jpg");

    right: 230px;
}

#product-3 {
    background-image: url("../images/product-3.jpg");

    right: 40px;
}

.product-description {
    max-width: 380px;
    text-align: left;

    margin-left: 20px;

    font-size: 18px;
}

.product-description.large {
    font-size: 40px;
}

.product-image .left {
    text-align: left;

    margin-left: 20px;
}

.hidden {
    display: none;
}

/* About page */

.main-container {
	height: 400px;
}

.main-container.motto {
	background-image: url("../images/after.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.accordion{
    background-color: rgba(122, 122, 122, 0.384);
    color: black;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 17px;
}

.middle-photos {
	text-align: justify;
	text-align-last: justify;

	padding-left: 60px;
	padding-right: 60px;
}

.portrait {
	vertical-align: top;
	display: inline-block;
	
	text-align: center;
	text-align-last: center;
	width: 150px;
}

.caption {
	display: block;

	margin-top: 5px;
}

.main-container.description {
	background-color: rgb(170, 170, 170);
}

.main-container.final {
	background-color: rgb(170, 170, 170);
}

.description-container {
	height: 100%;

	display: flex;
    justify-content: center;
	align-items: center;
	
	font-size: 17pt;
}

/* slider images */

#slider-container {
    position: relative;
    height: 550px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-image {
    position:absolute;
    height: 100%;
    width: 100%;
    left:0;
    background-repeat: no-repeat;
    background-size: 100% contain;
}

.slider-image#before-image {
    background-image: url("../images/before.jpg");
    border-right: 10px solid black;
}

.slider-image#after-image {
    background-image: url("../images/after.jpg");
}

/* Features page */

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li { 
	width: 250px;
	height: 250px;
	display: inline-block;
	margin-top: 20px;
        margin-bottom: 50px;
        margin-left:40px;
        margin-right:100px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.7),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;   
}

.ch-img-1 { 
	background-image: url(../images/Gestures.png);
}

.ch-img-2 { 
	background-image: url(../images/Understanding.jpg);
}

.ch-img-3 { 
	background-image: url(../images/Widgets.jpg);
}

.ch-img-4 { 
	background-image: url(../images/Communication.jpeg);
}

.ch-img-5 { 
	background-image: url(../images/Supported.jpg);
}


.ch-info {   
	position: absolute;
	background: rgba(139,149,149, 0.9);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	transform: scale(0);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,1);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	margin: 9001 100px;
        margin-top: -100px;
	font-size: 14px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.6);
        transition: all 1s ease-in-out 0.4s;
}


.ch-info a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,1);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
        transition: all 1s ease-in-out 0.4s;
}

.ch-info a:hover {
	color: #d4b4a2;
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}
